#babacar
{
    background-color:blue;
}

#aissatou
{
    background-color: red;
}

#aliou
{
    background-color: green;
}

#bruno
{
    background: yellow;
}

#amandine
{
    background:pink;
}

#alie
{
    background:purple;
}